@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đơn đặt hàng gửi thành công</h1><br />
        <img src="~/images/lawn_leaf.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Cảm ơn bạn đã đặt hàng! <br />
        Chúng tôi đã nhận được đơn đặt hàng của bạn và sẽ gửi email đến bạn!
        <br />
        Số đơn của bạn : @Model
    </div>
</div>