@{
    ViewData["Title"] = "Thông tin";
}
<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <p>Organic Food.</p>

    <p>
        Tầm quan trọng của một trang Liên hệ tốt
        Một trang liên hệ thường bị bỏ qua. Bao nhiêu lần bạn truy cập một trang web, muốn liên lạc để phàn nàn về một sản phẩm hoặc dịch vụ, hoặc đặt một câu hỏi? Và làm thế nào để liên lạc với ?

        Một trang liên hệ tốt có thể hưởng lợi từ bất kỳ loại hình kinh doanh nào. Nó có thể cải thiện sự hài lòng của khách hàng bằng cách giúp người dùng với các vấn đề của họ. Nó cũng có thể giúp doanh nghiệp cải tiến sản phẩm và dịch vụ của mình bằng cách cung cấp một kênh thông tin phản hồi có giá trị.

        Các kênh khác có thể được hạn chế khi nói đến thông tin phản hồi của người dùng. Truyền hình, phát thanh, tạp chí, báo ... tất cả là một hình thức giao tiếp một chiều. Truyền thông trực tuyến phải là một con đường hai chiều, một hộp thoại giữa doanh nghiệp và khách truy cập. Cả hai bên đều có thể hưởng lợi từ đó, mà là chính xác lý do tại sao một trang liên hệ tốt là điều cần thiết.
    </p>

    <p>
        Vị trí của trang liên hệ tốt
        Bước đầu tiên đầu tiên: vị trí của thông tin liên lạc của bạn. Nếu bạn có 1 trang liên hệ nhưng khách hàng không thể tìm thấy nó thì đó không phải là trang liên hệ tốt.

        Nói chung, thông tin liên lạc có thể được tìm thấy ở hai nơi:

        Danh mục chính là một địa điểm lý tưởng cho một số liên lạc, liên kết trang. Du khách thường tìm kiếm thông tin ở trên bên phải của một trang vì nó được xem như một yếu tố quan trọng thứ hai. Vì lý do này, bạn thường sẽ thấy các liên kết trang liên hệ là một trong những yếu tố cuối cùng trong điều hướng trang web.

        Bạn cũng có thể nhìn thấy một icon nhỏ ở góc trên bên phải của màn hình. Đây cũng là một vị trí có giá trị cho các trang liên hệ. Nếu đặt đường link đến các trang liên hệ trong một trình đơn thả xuống thì tốt nhất bạn có thể được tránh cách làm này vì nó có thể dễ dàng được bỏ qua.

        Footer cũng là một địa điểm phổ biến thông tin liên lạc. Nó có thể tổ chức một liên kết đến các trang liên hệ:
    </p>
</div>

